html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navbar {
  background-color: teal;
  border-bottom: 3px solid #222;
  width: 100%;
  padding: 0 1em 0 1em;
  margin: 0;
  justify-content: space-between;
}

.navbar-text {
  color: #222;
  margin: 0 3em 0 3em;
}
